<li class="post <%= "fav" if post.fav %>" id="<%= post.id %>" action="/posts/<%= post.id %>/toggle_fav">

<label>Title
  <%= post.title %>
</label><br>

<label>Text
  <%= post.text %>
</label>

<hr></li>