<p>All Posts</p><hr>

<ul id="all_posts">
  <%= render partial: 'posts/post', collection: @posts %>
</ul>

<hr>

<form id="create_post" action="/posts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="post[fav]" value="false">

  <label>Title
    <input type="text" name="post[title]" value="<%= @post %>">
  </label><br>

  <label>Text
    <input type="text" name="post[text]" value="<%= @post %>">
  </label><br>

  <input type="submit" value="Add">
</form>



<script>
$(document).ready(function(){

  $('#all_posts').on('click', 'li', function(event) {
    event.preventDefault();
    var $form = $(this);
    // console.log($form);
    var $id = $form.attr('id');
    var $url = $form.attr('action');

    $.ajax({
      url: $url,
      type: "POST",
      // data: { id: $id, name: "_method", value: "put" },
      dataType: "json",
      success: function(data) {
        $form.toggleClass('fav');
      }
    })
    // console.log($(this).attr('id'));
  })




  $("#create_post").on("submit", function(event){
    event.preventDefault();
    var $form = $(this);
    console.log("Sent: " + $form);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $form.serialize(),
      dataType: "html",
      success: function(data){
        $("#all_posts").append(data);
        $form[0].reset();
        console.log("Received: " + data);
      }
    });
  });
});
</script>
